<html>
<head>
	<title>Sherwin Dapito CV</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/others.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<style type="text/css">
		.background {
			position: relative;
			background-color: rgba(45, 45, 45, 0.7);
			color:#fff;
		}

	 	.back-grad-bluish{
			background: rgba(94, 104, 127, 0.8);
		}

		.background:before {
			content:'';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background:url('public/images/Background.jpg');
			background-size: 100%;
			z-index:-1;
		}


	</style>
	<script type="text/javascript">
		$(document).ready(function() {

			$(window).scroll(function () {
		      //if you hard code, then use console
		      //.log to determine when you want the 
		      //nav bar to stick.  
		      console.log($(window).scrollTop())
		      if ($(window).scrollTop() > 350) {
		      	$('#nav_bar').addClass('navbar-fixed-top');
		      }
		      if ($(window).scrollTop() < 350) {
		      	$('#nav_bar').removeClass('navbar-fixed-top');
		      }
		  });

			$("#Profile #About #Resume").on('click','a', function(event){ 
				event.preventDefault();
				var o =  $( $(this).attr("href") ).offset();   
				var sT = o.top - $("#nav_bar").outerHeight(true); 
				window.scrollTo(0,sT);
			});
		});
	</script>
</head>
<body>
	<div>
		<div class="background" style="color: white; background-size: 100%;">
			<div class="container text-center">
				<hr />
				<img src="/<%=profile%>" class="img-circle" alt="Cinque Terre" width="120"> 
				<h2>DAPITO, SHERWIN A.</h2>
				<p>Web Developer/Software Developer</p> 
				<hr />
			</div>
		</div>

		<%- include partials/navigation.ejs %>

	</div>
</div>
<div class="container" style="background-color: whitesmoke;" a id="About">

	<%- include partials/profile.ejs %>

	<br class="visible-xs">
	<%- include partials/about-me.ejs %>
</div>
	
</div>


<br>	

<%- include partials/skills.ejs %>
<div class="container">
	<div class="col-sm-12">

		<%- include partials/timeline.ejs %>

	</div>
</div>

<div class="container-fluid back-grad-bluish">
 <footer class="container">
        <div class="row">
            <div class="panel-primary">
                <div class="panel-body text-right">
                    <p style="color:whitesmoke;">©2017 Powered by Heroku. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
 




</body>
</html>