<html>
<head>
	<title>Sherwin Dapito CV</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/others.css">
	<link rel="stylesheet" href="/css/css-circular-prog-bar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<style type="text/css">
		.background {
			position: relative;
			background-color: rgba(45, 45, 45, 0.7);
			color:#fff;
		}

		.back-grad-blue{
			background: rgba(150,186,224,0.1);
			background: -moz-linear-gradient(45deg, rgba(150,186,224,0.1) 0%, rgba(191,224,216,0.1) 100%);
			background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(150,186,224,0.1)), color-stop(100%, rgba(191,224,216,1)));
			background: -webkit-linear-gradient(45deg, rgba(150,186,224,0.1) 0%, rgba(191,224,216,0.1) 100%);
			background: -o-linear-gradient(45deg, rgba(150,186,224,0.1) 0%, rgba(191,224,216,0.1) 100%);
			background: -ms-linear-gradient(45deg, rgba(150,186,224,0.1) 0%, rgba(191,224,216,0.1) 100%);
			background: linear-gradient(45deg, rgba(150,186,224,0.1) 0%, rgba(191,224,216,0.1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96bae0', endColorstr='#bfe0d8', GradientType=1 );
		}

		.back-grad-blue2{
			background: rgba(107, 120, 140, 0.3)
		}

		.back-grad-blue3{
			background: rgba(115, 121, 132, 0.05);
		}

		.back-grad-bluish{
			background: rgba(94, 104, 127, 0.8);
		}

			.background:before {
				content:'';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background:url('public/images/Background.jpg');
				background-size: 100%;
				z-index:-1;
			}

			.shadow-box{
				-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
				-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
				box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
			}

		</style>
		<script type="text/javascript">
			$(document).ready(function() {

				$(window).scroll(function () {
		      //if you hard code, then use console
		      //.log to determine when you want the 
		      //nav bar to stick.  
		      console.log($(window).scrollTop())
		      if ($(window).scrollTop() > 350) {
		      	$('#nav_bar').addClass('navbar-fixed-top');
		      }
		      if ($(window).scrollTop() < 350) {
		      	$('#nav_bar').removeClass('navbar-fixed-top');
		      }
		  });

				$("#Profile #About #Resume").on('click','a', function(event){ 
					event.preventDefault();
					var o =  $( $(this).attr("href") ).offset();   
					var sT = o.top - $("#nav_bar").outerHeight(true); 
					window.scrollTo(0,sT);
				});
			});
		</script>
	</head>
	<body>
		<div>
			<div class="background" style="color: white; background-size: 100%;">
				<div class="container text-center">
					<hr />
					<img src="/<%=profile%>" class="img-circle" alt="Cinque Terre" width="120"> 
					<h2>DAPITO, SHERWIN A.</h2>
					<p>Web Developer/Software Developer</p> 
					<hr />
				</div>
			</div>
			<%- include partials/navigation.ejs %>
		</div>
	</div>
	<div class="container" style="background-color: whitesmoke;" a id="About">
		<%- include partials/profile.ejs %>
		<br class="visible-xs">
		<%- include partials/about-me.ejs %>
	</div>
</div>
<br>	
<!-- Resume -->
<div class="back-grad-blue">
	<div class="col-sm-12 container-fluid" style="padding: 0px;" a id="Resume">
		<div class="well back-grad-blue2 shadow-box">
			<div class="text-center">
				<img src="/<%=resumeLogo%>" class="img-circle" alt="Cinque Terre" width="120"> 
			</div>
			<h3 class="text-center"><strong><span>S</span><span style="font-size: 19px;">KILLS</span> </strong> 
				<span style="font-size: 19px">& EXPERIENCE</span>
			</h3>
		</div>
		<hr>
	</div>

	<div class="container-fluid back-grad-blue3" style="padding-left: 0px; padding-right: 0px;">
		<div class="container">
			<div class="col-sm-5">
				<div >
					<legend ><strong><span>E</span><span style="font-size: 19px;">DUCATIONAL</span> </strong> 
						<span style="font-size: 19px">BACKGROUND</span></legend>
						<table>
							<tr>
								<td>Bachelor of Science in <strong class="text-info">Computer Engineering <strong></td>
							</tr>
							<tr>
								<td>Southern Luzon State University</td>
							</tr>
							<tr>
								<td>Lucban, Quezon</td>
							</tr>
						</table>
						<br>
						<legend><strong><span>L</span><span style="font-size: 19px;">ANGUAGE</span> </strong> 
							<span style="font-size: 19px">SKILLS</span></legend>
							<table>
								<tr>
									<td>English: Fluent</td>
								</tr>
								<tr>
									<td>Tagalog: Native Language</td>
								</tr>
							</table>
							<br>
						</div>
					</div>

					<div class="col-sm-7">
						<legend class="text-center"><strong><span>A</span><span style="font-size: 19px;">DDITIONAL</span> </strong> 
							<span style="font-size: 19px">SKILLS</span></legend>
							<div class="col-sm-4">
								<h4 class="text-center"><strong>Communication</strong></h4>
								<div class="progress-circle over50 p88">
									<span>88%</span>
									<div class="left-half-clipper">
										<div class="first50-bar"></div>
										<div class="value-bar"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<h4 class="text-center"><strong>Versatility</strong></h4>
								<div class="progress-circle over50 p89">
									<span>89%</span>
									<div class="left-half-clipper">
										<div class="first50-bar"></div>
										<div class="value-bar"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<h4 class="text-center"><strong>Determination</strong></h4>
								<div class="progress-circle over50 p90">
									<span>90%</span>
									<div class="left-half-clipper">
										<div class="first50-bar"></div>
										<div class="value-bar"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<hr>
				<%- include partials/skills.ejs %>
				<div class="container">
					<div class="col-sm-12">
						<%- include partials/timeline.ejs %>
					</div>
				</div>
			</div>

			<div class="container-fluid back-grad-bluish">
				<footer class="container">
					<div class="row">
						<div class="panel-primary">
							<div class="panel-body text-right">
								<p style="color:whitesmoke;">©2017 Powered by Heroku. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</body>
		</html>