<html>
<head>
	<title>Sherwin Dapito CV</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<style type="text/css">
		body {
			background: rgba(255,255,255,1);
			background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
			background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
			background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
			background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
			background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
		}

		.semi-black
		{
			background-color: #e8ebef;
		}

		.background {
			position: relative;
			background-color: rgba(45, 45, 45, 0.7);
			color:#fff;
		}

		.background:before {
			content:'';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image:url('/<%=bg_image%>') no-repeat fixed;
			background-size: 100%;
			z-index:-1;
		}
	</style>
</head>
<body>
	<div>
		<div class="background" style="color: white; background-size: 100%;">
			<div class="container text-center">
				<hr />
				<img src="/<%=profile%>" class="img-circle" alt="Cinque Terre" width="120"> 
				<h2>DAPITO, SHERWIN A.</h2>
				<p>Web Developer/Software Developer</p> 
				<hr />
			</div>
		</div>

		<%- include partials/navigation.ejs %>

	</div>
</div>
<div class="container" style="background-color: whitesmoke;">

	<%- include partials/profile.ejs %>

	<br class="visible-xs">
	<div style="background-color: #D7DBE0;">
		<div class="container" style="background-color: #D7DBE0;">
			<br>
			<div class="panel col-sm-12">
				<div class="panel-heading text-center" style="padding: 2px;">
					<h3><strong>About Me</strong></h3>
				</div>

				<div class="panel-body">
					<div class="col-sm-4 col-xs-12 panel-primary">
						<div class="panel-body" style="color: #515557;">
							<p><strong>Name:</strong> Sherwin Ablaña Dapito</p>
							<p><strong>Birthday:</strong> February 8, 1993</p>
							<p><strong>Phone:</strong> (042)-797-0262</p>
							<p><strong>Mobile:</strong> +639-19-294-2997</p>
							<p><strong>Skype:</strong> punetikz@rocketmail.com</p>
							<p><strong>Email:</strong> dapito.sherwin@yahoo.com</p>
							<p><strong>Address:</strong> Tayabas City, Philippines </p>
						</div>
						<div class="panel-footer text-center">

							<span class="fa-stack fa-lg">
								<a><i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x"></i>
								</a>
							</span>
							<span class="fa-stack fa-lg">
								<a><i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x"></i>
								</a>
							</span>
							<span class="fa-stack fa-lg">
								<a><i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-yahoo fa-stack-1x"></i>
								</a>
							</span>
							<span class="fa-stack fa-lg">
								<a><i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-google fa-stack-1x"></i>
								</a>
							</span>
							<span class="fa-stack fa-lg">
								<a><i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-stack-1x"></i>
								</a>
							</span>
						</div>
							<br class="visible-xs">
					</div>
				
					<div class="col-sm-8 text-left" >
						<div class="col-sm-12">
							<p>A Former <strong class="text-warning">Software Developer</strong> at <strong class="text-primary">TEAM</strong>(Taggs Enterprise Application Manager) Global, A company that provide <strong class="text-primary">business solutions</strong> by creating <strong class="text-primary">mobile web applications, desktop application and web application</strong> to clients using various software and platforms such as Alpha Anywhere and Visual Studio. 

								Have one year and eight months experience in the field of software development. Part of the team from initial development, documentation, integration testing and maintenance.</p>
								<br>
							</div>

						<div class="col-sm-6 col-xs-6">
							<legend><strong>Specialties</strong></legend>
							<p><span class="fa fa-mobile">&nbsp;&nbsp;&nbsp;</span>Mobile Web Development</p>
							<p><span class="fa fa-database">&nbsp;&nbsp;&nbsp;</span>Backend Development</p>
						</div>
						<div class="col-sm-6 col-xs-6">
							<legend><strong>Hobies & Interests</strong></legend>
							<p><span class="fa fa-music">&nbsp;&nbsp;&nbsp;</span>Music</p>
							<p><span class="fa fa-paint-brush">&nbsp;&nbsp;&nbsp;</span>Arts</p>
							<p><span class="fa fa-book">&nbsp;&nbsp;&nbsp;</span>Reading</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<br>	

	<%- include partials/skills.ejs %>




</body>
</html>